[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment

Environment=CART_HOST=cart-{{ENV}}.knowaws.com
Environment=CART_PORT=cart-{{ENV}}.knowaws.com
Environment=USER_HOST=user-{{ENV}}.knowaws.com
Environment=USER_PORT=user-{{ENV}}.knowaws.com
Environment=AMQP_HOST=rabbitmq-{{ENV}}.knowaws.com
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target